/* BASE */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #000;
  overflow: hidden;
}

/* CANVAS */
canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  filter: blur(10px);
  transition: filter 0.8s ease;
}

canvas.started {
  filter: blur(0);
}

/* OVERLAY + BOUTON START */
#overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 20;
  transition: opacity 0.6s ease;
}

#startButton {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  background: #ffffff;
  color: #000000;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

#startButton:hover {
  transform: translateY(-2px);
}

/* PANEL UI GAUCHE */
#uiPanel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* occupe toute la hauteur */
  padding: 3vh 1.8vw;
  box-sizing: border-box;
  gap: 2vh; /* ou 1vh, selon ton goût */
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease;
  font-family: system-ui, sans-serif;
}

/* STYLE DES BOUTONS */
#uiPanel button {
  position: relative;
  width: 16vw;
  min-width: 200px;
  max-width: 340px;

  height: clamp(100px, 6vh, 70px);
  line-height: normal;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.12em;

  border: 2px solid #ffffff;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0);
  color: #ffffff;

  font-size: clamp(0.7rem, 1vw, 1rem);
  cursor: pointer;

  overflow: hidden;
  transition:
    background 0.3s linear,
    color 0.3s linear,
    transform 0.2s ease;
    box-shadow 0.3s ease;
}

/* Effet à l'intérieur */
#uiPanel button span {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HOVER effet opacité */
#uiPanel button:hover {
  background: rgba(255, 255, 255, 0.9);
  color: #124a58;          /* couleur texte hover */
  transform: translateX(4px);
}

/* BOUTON ACTIF (cliqué) */
#uiPanel button.active {
  transform: scale(1.04);
  background: rgba(255, 255, 255, 0.95);
  color: #124a58;
  box-shadow: 0 0 14px rgba(255, 255, 255, 0.8);
}

/* AVERTISSEMENT MODE PAYSAGE SUR MOBILE */
.force-landscape-warning::before {
  content: "Veuillez tourner votre téléphone en mode paysage";
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-family: system-ui, sans-serif;
  text-align: center;
  padding: 2rem;
  z-index: 9999;
}
